<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">Vidly</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </button>
   

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link">@Html.ActionLink("Home", "Index", "Home")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">@Html.ActionLink("Customers", "Index", "Customers")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">@Html.ActionLink("Movies", "Index", "Movies")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">@Html.ActionLink("Rentals", "New", "Rentals")</a>
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</nav>